<?xml version="1.0"?>
<configuration>


  <!--cấu hình Log4netCustom2-->
  <configSections>
    <section name="Log4netCustom2" type="log4net.Config.Log4netCustom2ConfigurationSectionHandler,Log4netCustom2"/>
  </configSections>

  <Log4netCustom2>
    <root>
      <level value="DEBUG" />

      <appender-ref ref="AdoNetAppender" />
      <!--<appender-ref ref="RollingFileAppender" />-->
    </root>
    <!--<appender name="RollingFileAppender" type="Log4netCustom2.Appender.RollingFileAppender">
      <file value="log.txt" />
      <encoding value="utf-8" />
      <appendToFile value ="true" />
      <rollingStyle value="Size"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackup value ="10" />
      <staticLogFileSize value="true"/>
      <layout type="Log4netCustom2.Layout.PatternLayout">
        -->
    <!--<conversionPattern value="%-5p %d{dd-MM-yyyy hh:mm:ss} – %m%n"/>-->
    <!--
        -->
    <!--<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />-->
    <!--
        <conversionPattern value="%-5p %d{dd-MM-yyyy hh:mm:ss,fff} %5rms cls:%c | fn:%M | %line - %m | %X{ThongTinKhac}%n" />
      </layout>
    </appender>-->

    
    
    
    
    <appender name="AdoNetAppender" type="Log4netCustom2.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="Data Source=(local);Initial Catalog=PSC_ERP;Persist Security Info=True;User ID=sa;Password=123"/>-->
      <!--<connectionString value="server=(local); uid=sa; pwd=123; database=PSC_ERP" />-->
      <connectionString value="Dynamic connection string at runtime" />
      <commandText value="INSERT INTO EntityTrackingLogs (
                   [LogDate]
                   ,[Thread]
                   ,[Level]
                   ,[Logger]
                   ,[Message],
                   [Method]
                   ,[ComputerUser]
                   ,[UserID]
                   ,[EntityKeys]
                   ,[CurrentPropertyValues]
                   ,[OldPropertyValues]
                   ,[NewPropertyValues]
                   ,[LogType]
                   ,[EntitySet]
                   ,[ObjectSet]
                   ,[UserNetworkIP]
                   ,[MyColumn]
                   ,[NDCTest]
                   ,[NDCTest2]) 
                   VALUES (
                   @log_date
                   , @thread
                   , @log_level
                   , @logger
                   , @message
                   , @method
                   ,@computerUser
                   ,CONVERT(INT,@UserID)
                   ,@entityKeys
                   ,@currentPropertyValues
                   ,@oldPropertyValues
                   ,@newPropertyValues
                   ,@logType
                   ,@entitySet
                   ,@objectSet
                   ,@userNetworkIP
                   ,@myColumn
                   ,@ndcTest
                   ,@ndcTest);
                   --------DELETE FROM dbo.EntityTrackingLogs WHERE Id &lt;=(SELECT MAX(Id)-100000 FROM dbo.EntityTrackingLogs)" />
      <parameter>
        <parameterName value="@ndcTest"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%x" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ndcTest2"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%x" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@myColumn"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%property{MyColumn}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userNetworkIP"/>
        <dbType value="String"/>
        <size value="23"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{UserNetworkIP}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@entitySet"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{EntitySet}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@objectSet"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{ObjectSet}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logType"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{LogType}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@currentPropertyValues"/>
        <dbType value="Xml"/>
        <size value="20000"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{CurrentPropertyValues}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@oldPropertyValues"/>
        <dbType value="Xml"/>
        <size value="20000"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{OldPropertyValues}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@newPropertyValues"/>
        <dbType value="Xml"/>
        <size value="20000"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{NewPropertyValues}"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@entityKeys"/>
        <dbType value="String"/>
        <size value="1000"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{EntityKeys}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserID"/>
        <dbType value="String"/>
        <size value="18"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{UserID}"/>
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value="@uniqueMark"/>
        <dbType value="String"/>
        <size value="36"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{UniqueMark}"/>
        </layout>
      </parameter>-->
      <!--<parameter>
        <parameterName value="@thongTinKhac"/>
        <dbType value="String"/>
        <size value="1000"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%X{ThongTinKhac}"/>
        </layout>
      </parameter>-->
      <!--<parameter>
        <parameterName value="@timestamp"/>
        <dbType value="Double"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%timestamp"/>
        </layout>
      </parameter>-->
      <!--<parameter>
        <parameterName value="@file"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%file"/>
        </layout>
      </parameter>-->
      <!--<parameter>
        <parameterName value="@location"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%location"/>
        </layout>
      </parameter>-->
      <parameter>
        <parameterName value="@method"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%method"/>
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value="@class"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%class"/>
        </layout>
      </parameter>-->
      <parameter>
        <parameterName value="@ComputerUser"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%username"/>
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value="@line"/>
        <dbType value="Int32"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%line"/>
        </layout>
      </parameter>-->

      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="Log4netCustom2.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="20"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="Log4netCustom2.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="Log4netCustom2.Layout.ExceptionLayout"/>
      </parameter>-->
    </appender>






 




  </Log4netCustom2>



  <!--end cấu hình Log4netCustom2-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>




</configuration>
