<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PSC_ERP_Digitizing.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PSC_Digitizing.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="PSC_ERP.Properties.Settings.HTVConnection" connectionString="Data Source=BaoAnh-PC;Initial Catalog=ERP_HTV;Persist Security Info=True;User ID=sa;Password=pscvietnam" providerName="System.Data.SqlClient"/>-->
    <add name="PSC_ERP.Properties.Settings.HTVConnection" connectionString="Data Source=ServerTaiChinh;Initial Catalog=ERP_HTV;Persist Security Info=True;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>
    <!--<add name="PSC_ERP.Properties.Settings.HTVConnection" connectionString="Data Source=servererp\sql2012;Initial Catalog=ERP_HTV;Persist Security Info=True;User ID=sa;Password=pscvietnam"    providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>

    <!--<PSC_ERP_Digitizing.Client.Properties.Settings>
      <setting name="PSC_Digitizing_Client_ServiceReference1_DigitizingService"
        serializeAs="String">
        <value>http://servererp:246/DigitizingService.ASMX</value>
      </setting>
    </PSC_ERP_Digitizing.Client.Properties.Settings>-->

    <PSC_ERP_Digitizing.Client.Properties.Settings>
      <setting name="PSC_Digitizing_Client_ServiceReference1_DigitizingService"
        serializeAs="String">
        <value>http://ServerTaiChinh:246/DigitizingService.ASMX</value>
      </setting>
    </PSC_ERP_Digitizing.Client.Properties.Settings>

    <!--<PSC_ERP_Digitizing.Client.Properties.Settings>
      <setting name="PSC_Digitizing_Client_ServiceReference1_DigitizingService"
        serializeAs="String">
        <value>http://localhost:246/DigitizingService.ASMX</value>
      </setting>
    </PSC_ERP_Digitizing.Client.Properties.Settings>-->

  </applicationSettings>
</configuration>
