<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PSC_ERPNew.Main.PhanHe.DIGITIZING.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PSC_Digitizing.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <!--<PSC_ERPNew.Main.PhanHe.DIGITIZING.Properties.Settings>
      <setting name="PSC_Digitizing_Client_ServiceReference1_DigitizingService" serializeAs="String">
          <value>http://Servererp:246/DigitizingService.ASMX</value>
      </setting>
    </PSC_ERPNew.Main.PhanHe.DIGITIZING.Properties.Settings>-->
    <PSC_ERPNew.Main.PhanHe.DIGITIZING.Properties.Settings>
      <setting name="PSC_Digitizing_Client_ServiceReference1_DigitizingService" serializeAs="String">
        <value>http://ServerTaiChinh:246/DigitizingService.ASMX</value>
      </setting>
    </PSC_ERPNew.Main.PhanHe.DIGITIZING.Properties.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ftpUrl_Digital" value="ftp://192.168.1.5/" />
    <add key="ftpUser_Digital" value="sohoa" />
    <add key="ftpPass_Digital" value="sohoa" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--server chạy test ERPFNC_VLU_TEST-->

    <add key="MaKhachHangSuDung" value="VLU"/>
    <add key="852f30d8-c33d-4852-b334-d4992477bfc4" value="T8Cm6MsxnKcbUhwkQ6gDlVLFAQ3ZRj4y5kRt3ES2oT4=" />
    <add key="8052e8e3-8674-4ecf-b743-4f942ecdda43" value="kvqwdFPD9sHrrK4qyivifQ==" />
    <add key="3dc96f98-c440-4011-8b6d-3f76686942d6" value="oOvExXiD64E=" />
    <add key="399aa7eb-30df-4a0a-ac47-1627a7ce7517" value="XQWtNRNVVueSDB9u2FYTEw==" />

<!--server chạy test ERPFNC_VLU_UTS-->
<!--<add key="MaKhachHangSuDung" value="VLU"/>
<add key="852f30d8-c33d-4852-b334-d4992477bfc4" value="0Q64AI8lHvyS7Tc8id8qsA==" />
<add key="8052e8e3-8674-4ecf-b743-4f942ecdda43" value="qg+4mtUdb07rorR8F8MSMQ==" />
<add key="3dc96f98-c440-4011-8b6d-3f76686942d6" value="oOvExXiD64E=" />
<add key="399aa7eb-30df-4a0a-ac47-1627a7ce7517" value="XQWtNRNVVueSDB9u2FYTEw==" />-->
    
<!--server chạy chính thức Văn Lang local-->
<!--<add key="MaKhachHangSuDung" value="VLU"/>
<add key="852f30d8-c33d-4852-b334-d4992477bfc4" value="mk7eQsBsAt6fGVa+hVh6Ujs4OZ3EtoW7" />
<add key="8052e8e3-8674-4ecf-b743-4f942ecdda43" value="qg+4mtUdb07YVjXVwLYkfA==" />
<add key="3dc96f98-c440-4011-8b6d-3f76686942d6" value="U0CtyFSxSDo=" />
<add key="399aa7eb-30df-4a0a-ac47-1627a7ce7517" value="2ovcaeU3MxR1GdCuVF2+mw==" />-->
    
<!--server chạy chính thức Văn Lang online-->
<!--<add key="MaKhachHangSuDung" value="VLU"/>
<add key="852f30d8-c33d-4852-b334-d4992477bfc4" value="UtPvNPP2nlpHEKketW1QDw==" />
<add key="8052e8e3-8674-4ecf-b743-4f942ecdda43" value="qg+4mtUdb07YVjXVwLYkfA==" />
<add key="3dc96f98-c440-4011-8b6d-3f76686942d6" value="U0CtyFSxSDo=" />
<add key="399aa7eb-30df-4a0a-ac47-1627a7ce7517" value="2ovcaeU3MxR1GdCuVF2+mw==" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>