<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--bổ sung sửa số hóa theo mã phân hệ
    gồm 2 phân hệ nhân sự(mã là NS) và số hóa (mã là SH)-->
    <add key="CustomerCode" value="HTV"/>
    <add key="DigitizingRootDirectory" value="E:\\SOHOA\\"/>
    <add key="TrashDirectory" value="Trash\\"/>
    <add key="TempUploadDirectory" value="TempUpload\\"/>
    <add key="WatchingDirectory" value="Watching\\"/>
    <add key="DataDirectory" value="DATA\\"/>
    <add key="IndexDirectory" value="DATA\\Index"/>
    <add key="IndexNhanSuDirectory" value="DATA\\Index\\NhanSu"/>
    <add key="IndexSoHoaDirectory" value="DATA\\Index\\SoHoa"/>
    <add key="ConvertedDirectory" value="DATA\\Converted"/>
    <!--<add key="ConvertedNhanSuDirectory" value="DATA\\Converted\\NhanSu"/>
    <add key="ConvertedSoHoaDirectory" value="DATA\\Converted\\SoHoa"/>-->
    <add key="SourceDirectory" value="DATA\\Source\\"/>
    <add key="SourceNhanSuDirectory" value="DATA\\Source\\NhanSu"/>
    <add key="SourceSoHoaDirectory" value="DATA\\Source\\SoHoa"/>
    <add key="TempForIndexDirectory" value="DATA\\TempForIndex\\"/>
    <!--<add key="BackupSegmentsFilePath" value="DATA\\Index\\EmptySegmentsForRestore\\segments"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="PSC_ERP.Properties.Settings.HTVConnection" connectionString="Data Source=servererp\sql2012;Initial Catalog=ERP_HTV;Persist Security Info=True;User ID=sa;Password=pscvietnM" providerName="System.Data.SqlClient"/>-->
    <!--<add name="PSC_ERP.Properties.Settings.HTVConnection" connectionString="Data Source=BaoAnh-PC;Initial Catalog=ERP_HTV;Persist Security Info=True;User ID=sa;Password=pscvietnam" providerName="System.Data.SqlClient"/>-->
    <add name="PSC_ERP.Properties.Settings.HTVConnection" connectionString="Data Source=ServerTaiChinh;Initial Catalog=ERP_HTV;Persist Security Info=True;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>